.header {
    background-image: url(/images/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    text-align:center;
    color: white;
    font-family: 'Lexend Mega', sans-serif;
    /* font-size: 25px; */
}

#mouse_click {
    margin-top: 170px;
}


.header img {
    margin-top: 200px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    mouse_click {
     margin-top : 6px;
    }
    .header img {
        margin-top: 20px;
    }
    .header {
        font-size: 20px;
    }
  }

