.header {
    background-image: url(/images/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    text-align:center;
    color: white;
    font-family: 'Source Serif Pro', serif;
    
}

#mouse_click {
    margin-top: 170px;
}


.header img {
    margin-top: 200px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    mouse_click {
     margin-top : 6px;
    }
    .header img {
        margin-top: 20px;
    }
    .header {
        font-size: 20px;
    }
  }


  .container {
      text-align: center;
      margin-top: 30px;
      
  }

  .container> h3 {
      font-size: 40px;      
  }

  .container>p:nth-child(3) {
      width: 80%;
      text-align: center;
      margin-left: 120px;
      
  }

  .c_services {
    background-image: url(/images/backgrounds/s_image.jpg);
  }

  .services {    
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    height: 42%;
    text-align:center;
    color: white;
    font-family: 'Source Serif Pro', serif;
    
}

.services {
    margin-top: 20px;
    width: 70%;
    text-align: center;
}


#what_header {
    margin-bottom: 20px;
    font-size: 35px;
}


