.header {
    background-image: url(../images/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    text-align:center;
    color: white;
    font-family: 'Source Serif Pro', serif;
    
}

#mouse_click {
    margin-top: 170px;
}


.header img {
    margin-top: 200px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
        width: 100%;
        overflow-x: hidden;
    }
    mouse_click {
     margin-top : 6px;
    }
    .header img {
        margin-top: 20px;
    }
    .header {
        font-size: 20px;
    }

    #services h3 {
        padding-top: 10px;
        padding-bottom:10px;
        font-size: 20px;
    }
    #footer {
        /* align-items: center; */
        padding-left: 10px;
        width: 100%;
    }
    .contacts {
        width: 100%;
        background-size: cover;
    }
    #button {
        margin-top:1px;
        margin-left: 2px;
        color: white;
        align-items: center;
    }
    .about> h3 {
        font-size: 20px; 
        padding-top: 1px;     
    }
  }


  .container {
      text-align: center;
      margin-top: 30px;
      
  }

  .about> h3 {
      font-size: 20px;       
  }
  

  .about {
      text-align: center;
      height: 200px;
      padding-top: 50px;
  }

  .c_services {
    background-image: url(../images/backgrounds/s_image.jpg);
  }

  #services {    
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    height: 55%;
    text-align:center;
    color: white;
    font-family: 'Source Serif Pro', serif;
    
}

#services h3 {
    padding-top: 100px;
    padding-bottom:30px;
    font-size: 30px;
}

#services {    
    width: 70%;
    text-align: center;
}


#what_header {
    margin-bottom: 30px;
    font-size: 35px;
}

#work {
    margin: 6px;
    margin-bottom:20px;    
}

.contacts {
    background-image: url(../images/backgrounds/c_image.jpg);
    height: 480px;
    text-align: center;
    background-size: cover;
}

.form {
    display: flex;
    justify-content: center;
    text-align: center;
}

#name {    
    background: transparent;    
    margin-top: 20px; 
    margin-bottom: 20px;   
    color: white;
}
#email {    
    background: transparent;    
    margin-top: 20px; 
    margin-bottom: 20px;   
    color: white;    
}
#input:focus {
    background-color:whitesmoke; 
    border: 1px solid white;
    opacity: 0.7;
}

#textarea {
    padding-top: 5px;
    width: 100%;
    background: transparent;
    height: 150px;
    align-content: center;
    color: white;
}

#contacts > h3 {
    padding-top: 50px;    
    color: white;
    font-family: 'Hepta Slab', serif;
}

button {
    margin-top:30px;    
    color: green;
}

#footer {
    align-items: center;    
    align-content: center;
    padding-left: 300px;
}



/* Hover effect for work 1 */
.container {
    position: relative;
    width: 100%;
  }
  
  #work-1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .work1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #work1:hover {
    opacity: 0.5;
  }
  
  #work:hover .work1 {
    opacity: 0.7;
  }
  
  .text1 {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* hover effect for work2 */
  .container {
    position: relative;
    width: 100%;
  }
  
  #work1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .work2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #work2:hover {
    opacity: 0.5;
  }
  
  #work:hover .work2 {
    opacity: 0.7;
  }
  
  .text2 {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* hover effect for work3 */
  .container {
    position: relative;
    width: 100%;
  }
  
  #work3 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .work3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #work3:hover {
    opacity: 0.5;
  }
  
  #work:hover .work3 {
    opacity: 0.7;
  }
  
  .text3 {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }
  /* hover effect for work 4 */
  .container {
    position: relative;
    width: 100%;
  }
  
  #work4 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .work4 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #work4:hover {
    opacity: 0.5;
  }
  
  #work:hover .work4 {
    opacity: 0.7;
  }
  
  .text4 {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* hover effect for work 5 */
  .container {
    position: relative;
    width: 100%;
  }
  
  #work5 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .work5 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #work5:hover {
    opacity: 0.5;
  }
  
  #work:hover .work5 {
    opacity: 0.7;
  }
  
  .text5 {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* hover effect for work 6 */
  .container {
    position: relative;
    width: 100%;
  }
  
  #work6 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .work6 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #work6:hover {
    opacity: 0.5;
  }
  
  #work:hover .work6 {
    opacity: 0.7;
  }
  
  .text6 {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* hover effect for work 7 */
  .container {
    position: relative;
    width: 100%;
  }
  
  #work7 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .work7 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #work7:hover {
    opacity: 0.5;
  }
  
  #work:hover .work7 {
    opacity: 0.7;
  }
  
  .text7 {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* hover effect for work 8 */
  .container {
    position: relative;
    width: 100%;
  }
  
  #work8 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .work8 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #work8:hover {
    opacity: 0.5;
  }
  
  #work:hover .work8 {
    opacity: 0.7;
  }
  
  .text8 {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }



